* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block-phone > p > a {
	font-size: 50px;
	text-decoration: none;
	color: black;
}

.block-phone > p {
	font-size: 40px;
	color: cornflowerblue;
}

.block-phone {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background: wheat;
	border: 2px solid red;
	border-radius: 10px;
	margin-top: 20px;
}

.block-phone p a i {
	transition: 1s;
}

.block-phone p a i:hover {
	transform: scale(1.3);
}

.block-tg > p > a {
	font-size: 50px;
	text-decoration: none;
	color: black;
}

.block-tg > p {
	font-size: 40px;
	color: cornflowerblue;
}

.block-tg {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background: orange;
	border: 2px solid red;
	border-radius: 10px;
	margin-top: 20px;
}
.block-tg p a i {
	transition: 1s;
}

.block-tg p a i:hover {
	transform: scale(1.3);
}

.block-viber > p > a > img {
	width: 60px;
	margin-top: 5px;
	transition: 1s;
}

.block-viber p a img:hover {
	transform: scale(1.1);
}

.block-viber > p > a {
	font-size: 50px;
	text-decoration: none;
	color: black;
}

.block-viber > p {
	font-size: 40px;
	color: blueviolet;
	font-weight: bold;
}

.block-viber {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background: yellow;
	border: 2px solid red;
	border-radius: 10px;
	margin-top: 20px;
	gap: 10px;
}

.block-viber > p > a > img {
	width: 60px;
	margin-top: 5px;
}

.block-gmail > p > a {
	font-size: 50px;
	text-decoration: none;
	color: black;
}

.block-gmail > p {
	display: flex;
	font-size: 40px;
	color: rgb(24, 24, 24);
	font-weight: bold;
}

.block-gmail {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background: yellow;
	border: 2px solid red;
	border-radius: 10px;
	margin-top: 20px;
	gap: 10px;
}

.block-gmail p a img {
	width: 50px;
	transition: 1s;
}
.block-gmail p a img:hover {
	transform: scale(1.3);
}

.recerved {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
	.block-gmail p a img {
		width: 40px;
	}
	.block-gmail p {
		font-size: 20px;
		-webkit-text-stroke: 0;
	}
	.block-gmail {
		height: 50px;
	}
	.block-viber p a img {
		width: 40px;
	}
	.block-viber p {
		font-size: 20px;
	}
	.block-viber {
		height: 60px;
	}
	.block-tg p a i {
		font-size: 40px;
	}
	.block-tg p {
		font-size: 20px;
	}
	.block-tg {
		height: 50px;
	}
	.block-phone {
		height: 50px;
	}
	.block-phone p a i {
		font-size: 40px;
	}
	.block-phone p {
		font-size: 20px;
	}
}

a.button10 {
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
a.button10:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
a.button10:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

.block-prem{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	padding: 10px;
}

