.content-start-mini {
	display: flex;
	font-size: 20px;
	color: #3c5e2c;
	justify-content: center;
	margin-bottom: 10px;
}

.text1 {
	display: flex;
	width: 100%;
	justify-content: center;
	color: gray;
	font-size: 20px;
	flex-wrap: wrap;
}
.text-start-mini {
	display: flex;
	font-size: 20px;
	color: black;
	justify-content: center;
}

.text1 > img {
	width: 400px;
}

.block-text {
	display: flex;
	width: 50%;
	height: 100px;
	background-color: lightgoldenrodyellow;
	border: 2px solid green;
	border-radius: 10px;
	justify-content: end;
	align-items: center;
	margin-bottom: 10px;
	flex-wrap: wrap;
	background-size: 300% 300%;
	background-image: linear-gradient(
		-45deg,
		yellow 0%,
		purple 25%,
		green 51%,
		gold 100%
	);
	-webkit-animation: AnimateBG 20s ease infinite;
	animation: AnimateBG 20s ease infinite;
	transition: 1s;
}

.block-text:hover {
	color: beige;
}

@-webkit-keyframes AnimateBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes AnimateBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.block2 > h2 {
	font-size: 30px;
	color: #3c5e2c;
	text-align: center;
	margin-bottom: 10px;
}

.block2 > h3 {
	font-size: 25px;
	color: orangered;
	text-align: center;
}

.text2 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.block-text2 {
	display: flex;
	width: 50%;
	height: 200px;
	font-size: 20px;
	color: gray;
	background-color: lightgoldenrodyellow;
	border: 2px solid green;
	border-radius: 10px;
	justify-content: end;
	align-items: center;
	margin-bottom: 10px;
	flex-wrap: wrap;
	background-size: 300% 300%;
	background-image: linear-gradient(
		-45deg,
		yellow 0%,
		orange 25%,
		white 51%,
		green 100%
	);
	-webkit-animation: AnimateBG 20s ease infinite;
	animation: AnimateBG 20s ease infinite;
	transition: 1s;
}

.block-text2:hover {
	color: beige;
}

@-webkit-keyframes AnimateBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes AnimateBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.text2 > img {
	width: 400px;
}

.conteiner3-1 > h3 {
	font-size: 25px;
	color: orangered;
	text-align: center;
}

.conteiner3-1 {
	margin-bottom: 100px;
}
